<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beacon</title>
    <script>
        let opts_backup={};
        let area_selected = false;
        function deepClone(obj, newObj) {
            var newObj = newObj || {};
            for (let key in obj) {
                if (typeof obj[key] == 'object') {
                    newObj[key] = (obj[key].constructor === Array) ? [] : {}
                    deepClone(obj[key], newObj[key]);
                } else {
                    newObj[key] = obj[key]
                }
            }
            return newObj;
        }
    </script>

</head>
<body>
{% block content %}
{{ html_code|safe }}
{% endblock %}
</body>
</html>



